* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
}
.calculator {

    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);

}
#display {

    height: 60px;
    background: #e0393e;
    color: white;

    border-radius: 12px;

    margin-bottom: 15px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 15px;

    font-size: 30px;
    font-weight: bold;

    overflow: hidden;

}
.buttons {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
button {

    height: 55px;

    border: none;
    border-radius: 50%;

    font-size: 22px;
    font-weight: 500;

    cursor: pointer;

    background: #f8f9fa;

}

.equal {
    border-radius: 12px;
}

.delete {
    border: 3px solid black;
}

button:hover {

    background: #e2e6ea;
    color: black;

}
.delete {

    background: #8b263e;
    color: white;

}
.delete:hover {
    background: #721f32;
}

.clear {

    background: #e0393e;
    color: white;
}


.equal {

    width: 100%;
    margin-top: 10px;

    background: #279354;
    color: white;

}
.equal:hover {

    background: #22804b;

}