body{
    background-color:white;
}
.card{

    border-radius:15px;
    overflow:hidden;
    height:100%;
}
.card:hover{
  transform: scale(1.05);
  
}
.card img{
    border:2px solid wheat;
    border-radius: 15px;
    height:220px;
    object-fit:cover;
}
.card-body{
    text-align:center;
}
.card-title{
    font-size:20px;
    font-weight:bold;
}
.card-text{
    color:#555;
}
input,
select{
    height:45px;
}