.footer {
  background:#212529;
  color:white;
  padding:40px 0 20px;
  margin-top:50px;

}
.footer h4 {
  color:#198754;
  margin-bottom:20px;
  font-weight:bold;

}

.footer p {

  color:#ddd;
  line-height:1.8;

}

.footer ul {

  list-style:none;
  padding:0;

}

.footer ul li {

  margin-bottom:10px;

}

.footer ul li a {

  color:#ddd;
  text-decoration:none;
  transition:.3s;

}
.footer ul li a:hover {

  color:#198754;
  padding-left:5px;

}
.footer svg {

  margin-right:10px;
  color:#198754;

}



.social {

  display:flex;
  gap:20px;
  font-size:25px;
  margin-top:15px;

}
.social svg {

  cursor:pointer;
  transition:.3s;

}

.social svg:hover {

  transform:translateY(-5px);

  color:white;

}